@font-face {
    font-family: "aileron-regular";
    src: url("../fonts/Aileron-Regular.otf");
}

@font-face {
    font-family: "aileron-semibold";
    src: url("../fonts/Aileron-SemiBold.otf");
}

@font-face {
    font-family: "aileron-bold";
    src: url("../fonts/Aileron-Bold.otf");
}

@font-face {
    font-family: "aileron-black";
    src: url("../fonts/Aileron-Black.otf");
}

* {
    font-family: "aileron-regular";
}

.bold {
    font-family: "aileron-bold";
}

.semibold {
    font-family: "aileron-semibold";
}

.black {
    font-family: "aileron-black";
}

/* font sizes */
.fs-14 {
    font-size: 14px;

}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-36 {
    font-size: 36px;
}

/* text-colors */
.text-63 {
    color: #636363;
}

.text-72 {
    color: #727272;
}

.text-green {
    color: #5CCAA7;
}

.text-blue {
    color: #038AFF;
}

/* header */
header {
    background-image: url("../img/header-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 150px;
}

.btn-white {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}

.btn-white:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}

.h-1 {
    height: 1px;
}

/* hero */
.lh-2 {
    line-height: 1.5;
}


/* tools */
.py-100 {
    padding: 100px 0;
}

.play-btn {
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transition: 0.5s;
    transform-origin: center;
}

.play-btn:hover {
    transform: scale(1.1) translate(-50%, -50%);
}

.img-holder {
    z-index: 100;
}

.progress-card {
    width: 400px;
    top: 50%;
    left: -40%;
}

.progress {
    height: 5px;
    background-color: #D9D9D9;
}

.progress-bar {
    background-color: #FEC34B;
}



/* features */
.curve-right {
    top: 100%;
    left: 95%;
    transform: scale(1.2);
}


/* tech */
.tech-curve {
    top: 90%;
    left: -27%;
    transform: scale(1.4) rotate(-18deg);
}

.z-100 {
    z-index: 100;
}